* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}
/*Det som gör så att navbaren ser ut som den gör, färger, storlek etc. */
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
/* Loggan i vänstra hörnet, linear gradient är vilka färger den har, webkit och moz är så att linear gradient funkar på till exempel safari*/
#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
/* Vart de olika grejerna i navbaren ska vara någon*/
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}
/* Så att navbaren ska fungera på mobil, när man går in på sidan på mobilen så försvinner alternativen och det blir en hamburgarmeny*/
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
/* Det som gör att menyn animeras när man klickar på den*/
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*Det som är under navbaren, bakgrundsfärg*/
.banner {
  background: #672828;
  background: linear-gradient(to right, #a92929, #aa9292);
  padding: 200px 0;
 
}
.banner_players {
  background: #672828;
  background: linear-gradient(to right, #a9298b, #353232);
  padding: 200px 0;
 
}
/* Vart texten ska finnas inuti bannern*/
.banner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.banner__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.banner__heading span {
  background: #ee0979; 
  background: -webkit-linear-gradient(
    to right,
    #ae2222,
    #ee0979
  ); 
  background: linear-gradient(
    to right,
    #ae2121,
    #ee0979
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.banner__description {
  font-size: 60px;
  background: #da22ff; 
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); 
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}
/* Så att bannern fungerar på mindre skärmar*/
@media screen and (max-width: 768px) {
  .banner__heading {
    font-size: 60px;
  }

  .banner__description {
    font-size: 40px;
  }
}
/* Det som är under bannern, en bild och en knapp*/
.main__btn {
  font-size: 1.8rem;
  background: #d31616;
 
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__img--container {
  text-align: center;
 
}

.main__img--card {

  margin: 10px;
  height: 750px;
  width: 750px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;

 
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}


/* För mindre skärmar, detta gör så att när man byter till mobil så hamnar texten ovanför bilden. */
@media screen and (max-width: 700px) {
  .main__container {
    display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin:  auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding:  50px;
}
  }
  @media screen and (max-width: 335px){
    .main__img--card {
      height: 100px;
      width:100px;
    }
  
  }
  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  


.main {
  background-color: #131313;
  padding: 10rem 0;
}



.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 2rem;
  background-color: #fe3b6f;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 4rem;
  background: #ff8177; 
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); 
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* Det funkar på olika browsers*/
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
/*Footern, det som är längst ner på sidan*/
.footer__container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*De olika texterna som finns längst ner*/
#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-out;
}

.footer__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website__rights {
  color: #fff;
}
/*Footern blir responsiv*/
@media screen and (max-width: 820px) {
  *{
    margin: 0px;
    padding: 0px;
  }
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 446px){
  .main__img--card{
width: 300px;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Detta gör så att jag kan göra samma sak på de andra sidorna, fast med till exempel olika färger*/
.mainy{
  width: 100%;
  height: auto;
  background-color: rgb(245, 245, 245);
  font-family: poppins;
  padding: 50px 0;
  display: grid;
  place-items: center;
}
.mainy .heading{
  font-size: 27px;
  font-weight: 500;
  color: rgb(236, 6, 6);
  position: relative;
  margin-bottom: 80px;
}
.heading::after{
  content: " ";
  position: absolute;
  width: 50%;
  height: 4px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right, rgb(43, 41, 46), rgb(150, 54, 54));
  transform: translateX(-50%);
}

/* Detta är css för tidslinjekoden  */

.containyr{
  width: 70%;
  height: auto;
  position: relative;
}
.containyr ul::after{
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to right, rgb(41, 34, 34), rgb(104, 89, 89));
}
.containyr ul{
  list-style: none;
}
.containyr ul li{
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.192);
  position: relative;
  z-index: 99;
}
.containyr ul li:nth-child(odd){
  float: left;
  clear: right;
  transform: translateX(-30px);
}
.containyr ul li:nth-child(odd) .date{
  right: 20px;
}
.containyr ul li:nth-child(even){
  float: right;
  clear: left;
  transform: translateX(30px);
}
.containyr ul li:nth-child(4){
  margin-bottom: 0;
}
.containyr ul li .title{
  font-size: 20px;
  font-weight: 500;
  color: rgb(236, 6, 6);
}
ul li p{
  font-size: 15px;
  color: rgb(227, 20, 20);
  margin: 7px 0;
  line-height: 23px;
}
ul li a{
  font-size: 15px;
  color: rgb(236, 6, 6);
  text-decoration: none;
}
ul li .date{
  position: absolute;
  top: -45px;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(to right, rgb(184, 49, 49), rgb(176, 39, 39));
  display: grid;
  place-items: center;
  font-size: 14px;
}
.containyr ul li .circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(151, 37, 37, 0.401);
  position: absolute;
  top: 0;
}
.containyr ul li .circle::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(208, 21, 21);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containyr ul li:nth-child(odd) .circle{
  right: -30px;
  transform: translate(50%, -50%);
}
.containyr ul li:nth-child(even) .circle{
  left: -30px;
  transform: translate(-50%, -50%);
}

/*  Så att tidslinjen blir responsiv */

@media screen and (max-width:1224px){
  .containyr{
      width: 85%;
  }
}

@media screen and (max-width:993px){
  .containyr{
      width: 80%;
      transform: translateX(15px);
  }
  .containyr ul::after{
      left: -30px;
  }
  .containyr ul li{
      width: 100%;
      float: none;
      clear: none;
      margin-bottom: 80px;
  }
  .containyr ul li:nth-child(odd){
      text-align: left;
      transform: translateX(0);
  }
  .containyr ul li:nth-child(odd) .date{
      left: 20px;
  }
  .containyr ul li:nth-child(odd) .circle{
      left: -30px;
      transform: translate(-50%, -50%);
  }
  .containyr ul li:nth-child(even){
      transform: translateX(0);
  }
}
